@import './css/tailwind.css';

/* Base styles beyond Tailwind */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
}
